@import url("//cdn.web-fonts.ge/fonts/bpg-rioni-vera/css/bpg-rioni-vera.min.css");
@import url("//cdn.web-fonts.ge/fonts/alk-rounded-mtav-med/css/alk-rounded-mtav-med.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-algeti/css/bpg-algeti.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-glaho/css/bpg-glaho.min.css");


:root {
    --Main-color: #3fbbc0;
    --text-color-1: #444;
    --text-color-2: #666;
    --bg-color-1: #fff;
    --bg-color-1-hero: rgba(255, 255, 255, 0.562);
    --bg-color-2: #eee;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --hover: #41a8ac;
    --line: rgb(192, 192, 192);
    --Main-color-2: rgb(0, 196, 104);
}

* {
    outline: none !important;
    font-family: "BPG Rioni Vera", sans-serif;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--Main-color);
}

.r-2 {
    margin-top: 10px;
}

section
{
    padding: 50px 0 !important;
}

.btn-e {
    font-size: 15px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.5s;
    line-height: 1;
    margin-top: 6px;
    color: #fff;
    border: none;
    background: var(--Main-color);
}

.btn-e:hover {
    background-color: var(--hover);
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

a {
    color: var(--Main-color);
    text-decoration: none;
}

a:hover {
    color: var(--hover);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "BPG Rioni Vera", sans-serif;
}

body {
    background: var(--bg-color-2);
}

body.dark {
    --text-color-1: #fff;
    --text-color-2: #eee;
    --bg-color-1: #222831;
    --bg-color-1-hero: #222831ab;
    --bg-color-2: #393E46;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .4);
    --line: rgb(78, 78, 78);
}

.sss
{
    padding: 0px 0 !important;
}

.offcanvas-body,
.offcanvas-header {
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
    font-family: "BPG Rioni Vera", sans-serif;
}

.form-range {
    padding: 10px !important;
}

.form-label {
    color: var(--text-color-1);
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: var(--bg-color-1);
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--Main-color);
    border-top-color: var(--bg-color-2);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lang {
    display: flex;
}

.lang img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.s
{
    margin-left: 4px !important;
}

.lang a {
    padding-left: 5px !important;
}

.lang .c {
    padding-left: 10px !important;
}

.offcanva-btn {
    font-family: "Roboto", sans-serif;
    width: 35px;
    height: 35px;
    margin-left: 35px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 50%;
    transition: 0.5s;
    border: 2px solid var(--bg-color-1);
    color: #fff;
    background-color: var(--Main-color);
}

.offcanva-btn:hover {
    background-color: var(--hover);
}

.clos {
    width: 25px;
    height: 25px;
    background-color: var(--bg-color-2);
    border-radius: 50%;
    border: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-1);
    transition: .3s;
}

.clos:hover {
    background-color: var(--Main-color);
    transition: .3s;
    color: #fff;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--Main-color);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #5ec6ca;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }

    .contact .php-email-form{
        margin-top: 15px !important;
    }
}


/*--------------------------------------------------------------
# toggle button
--------------------------------------------------------------*/

#dark-body {
    position: absolute;
    background-color: gray;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    margin-top: 2px;
    cursor: pointer;
    right: 40px;
    padding-left: 10px;
}

#dark-button {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 22px;
    border: gray solid 1px;
    height: 22px;
    border-radius: 50%;
}

#color-body {
    position: absolute;
    background-color: gray;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    margin-top: 2px;
    cursor: pointer;
    right: 40px;
    padding-left: 10px;
}

#color-button {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 22px;
    border: gray solid 1px;
    height: 22px;
    border-radius: 50%;
}

#nav-body {
    position: absolute;
    background-color: gray;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    margin-top: 2px;
    cursor: pointer;
    right: 40px;
}

#nav-button {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 22px;
    border: gray solid 1px;
    height: 22px;
    border-radius: 50%;
}

.mode {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.figure {
    border-left: 1px solid var(--line);
    width: 20px;
    height: 20px;
    position: relative;
    left: -55px;
}

.mode h6 {
    font-family: "BPG Rioni Vera", sans-serif;
    left: 10px;
    font-size: 15px;
    position: relative;
}

.setings {
    background-color: var(--bg-color-2);
    padding: 10px;
    border-radius: 20px;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    background: var(--bg-color-1);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    color: var(--text-color-1);
}

#header.menus {
    width: 95%;
    margin: auto;
    top: 10px;
    border-radius: 20px;
}

@media (max-width: 992px) {
    #header {
        padding: 10px 0;
    }
    .logo img {
        max-height: 30px !important;
        margin-left: 10px;
    }
    #header.menus {
        border-radius: 10px !important;
    }
    .offcanva-btn {
        width: 30px !important;
        height: 30px !important;
    }
}

#header.header-scrolled {
    top: 0;
    width: 100%;
    border-radius: 0;
}

.logo {
    margin: 0;
    padding: 0;
}

.logo img {
    max-height: 38px;
}


/**
* Appointment Button
*/

.appointment-btn {
    margin-left: 25px;
    background: var(--Main-color);
    color: #fff;
    border-radius: 4px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
}

.appointment-btn:hover {
    background: var(--hover);
    color: #fff;
}

@media (max-width: 768px) {
    .appointment-btn {
        margin: 0 15px 0 0;
        padding: 6px 15px;
    }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
    font-size: 14px;
    color: var(--text-color-1);
    font-family: "BPG Glaho", sans-serif;
    white-space: nowrap;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 550;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: var(--Main-color);
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    color: var(--text-color-1);
    visibility: hidden;
    background: var(--bg-color-1);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 15px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    text-transform: none;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: var(--Main-color);
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

#search
{
    position: relative;
    z-index: 999;
    top: 30px;
    left: 85%;
    display: none;
    width: auto;
    height: 0px;
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
}

#search input
{
    width: 200px;
    height: 40px;
    background-color: var(--bg-color-1);
    border-radius: 30px;
    border: 1px solid var(--bg-color-2);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--text-color-1);
    font-family: "BPG Glaho", sans-serif;
}

#search input::placeholder
{
    color: var(--text-color-1);
}


#search.search-box
{
    display: flex;
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    display: none;
    padding: 5px;
    font-size: 15px;
    border-radius: 50%;
    transition: 0.5s;
    color: #fff;
    background-color: var(--Main-color);
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(60, 60, 60, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: var(--bg-color-1);
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--text-color-1);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: var(--Main-color);
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: var(--bg-color-1);
    box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.185);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: var(--Main-color);
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-1);
    overflow: hidden;
    position: relative;
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#hero .container {
    text-align: center;
    background: var(--bg-color-1-hero);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    border: 2px solid var(--Main-color);
}

@media (max-width: 1200px) {
    #hero .container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

#hero h2 {
    color: var(--text-color-1);
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
}

#hero p {
    margin: 0 auto 30px auto;
    color: var(--text-color-1);
}

#hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 5px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(63, 187, 192, 0.8);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
    background: var(--hover);
    color: rgba(255, 255, 255, 0.8);
}

.carousel-control-next-icon:after, .carousel-control-prev-icon:after
{
    --mdb-carousel-control-icon-font-size: 1.1rem !important;
}

#hero .carousel-indicators li {
    cursor: pointer;
    background: var(--bg-color-1);
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    margin: 0 .2rem;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
}

#hero .carousel-indicators li.active {
    opacity: 1;
    background: var(--Main-color);
}

#hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 20px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    background: var(--Main-color);
}

#hero .btn-get-started:hover {
    background: #65c9cd;
}

@media (max-width: 992px) {
    #hero {
        height: 100vh;
    }
    #hero .container {
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-height: 500px) {
    #hero {
        height: 160vh;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: var(--bg-color-2);
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: var(--text-color-1);
    position: relative;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--Main-color);
    bottom: 0;
    left: calc(50% - 25px);
}

.section-title p {
    margin-bottom: 0;
    font-family: "BPG Rioni Vera", sans-serif;
    color: var(--text-color-1);
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

.breadcrumbs {
    padding: 20px 0;
    background-color: #ecf8f9;
    min-height: 40px;
    margin-top: 120px;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 70px;
    }
}

.breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

@media (max-width: 992px) {
    .breadcrumbs h2 {
        margin: 0 0 10px 0;
    }
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li {
        display: inline-block;
    }
}


/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/

.featured-services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: var(--bg-color-1);
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    z-index: 1;
    color: #fff !important;
}

.featured-services .icon-box::before {
    content: "";
    position: absolute;
    background: var(--text-color-1);
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
}

.featured-services .icon-box:hover::before {
    background: var(--Main-color);
    top: 0;
    border-radius: 0px;
}

.featured-services .icon {
    margin-bottom: 15px;
}

.featured-services .icon i {
    font-size: 48px;
    line-height: 1;
    color: var(--Main-color);
    transition: all 0.3s ease-in-out;
}

.featured-services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
}

.featured-services .title a {
    color: var(--text-color-1);
}

.featured-services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    color: var(--text-color-1);
    text-align: left;
}

.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description {
    color: #fff;
}

.featured-services .icon-box:hover .icon i {
    color: #fff;
}

.t-2 i
{
    font-size: 10px !important;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/

.cta {
    background: var(--Main-color);
    color: #fff;
    background-size: cover;
    padding: 60px 0;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.cta_close{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-color-1);
    position: relative;
    top: -40px;
    left: 96.5%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-1);
}

@media (max-width: 800px) {
    .cta_close{
        left: 83.5%;
    }

    .sse
    {
        font-size: 20px !important;
    }

    .features .image{
        width: 95% !important;
        margin: auto;
    }

    #search input{
        left: -160px;
        position: relative;
    }
}

.cta.moo{
    display: none;
}

.cta h3 {
    font-size: 28px;
    font-weight: 700;
}

.cta .cta-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.cta .cta-btn:hover {
    background: #fff;
    color: #3fbbc0;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
    color: var(--text-color-1);
}

.features .icon-box i {
    font-size: 48px;
    float: left;
    color: var(--Main-color);
}

.features .icon-box p {
    font-size: 15px;
    color: var(--text-color-1);
    margin-left: 60px;
    font-family: "BPG Rioni Vera", sans-serif;
}

.features .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    border-radius: 20px;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

/* .services .icon-box { 
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.services .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background: var(--bg-color-1);
    border-radius: 20px;
    transition: 0.5s;
    color: var(--Main-color);
    overflow: hidden;
    box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.services .icon i {
    font-size: 36px;
    line-height: 0;
}

.services .icon-box:hover .icon {
    box-shadow: 0px 0 25px rgba(63, 187, 192, 0.3);
}

.services .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px;
}

.services .title a {
    color: var(--text-color-1);
    transition: 0.3s;
}

.services .title a:hover {
    color: var(--hover);
}

.services .title::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: var(--Main-color);
    bottom: 0;
    left: calc(50% - 25px);
}

.services .description {
    line-height: 24px;
    font-size: 14px;
    color: var(--text-color-1);
}
*/


/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/

.departments .nav-tabs {
    border: 0;
}

.departments .nav-link {
    border: 0;
    padding: 20px;
    color: var(--text-color-1);
    border-radius: 15px;
    cursor: pointer;
}

.departments .nav-link:hover{
    background-color: var(--bg-color-1);
}

.departments .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
    color: var(--text-color-1);
}

.departments .nav-link p {
    font-size: 14px;
    margin-bottom: 0;
    color: var(--text-color-1);
    line-height: 25px;
}

.departments .nav-link:hover h4 {
    color:var(--Main-color);
}

.departments .nav-link.active {
    background: var(--bg-color-1);
    border-color: var(--Main-color);
}

.departments .nav-link.active h4 {
    color: var(--Main-color);
}

.departments .tab-pane.active {
    -webkit-animation: slide-down 0.5s ease-out;
    animation: slide-down 0.5s ease-out;
}

.departments .tab-pane img {
    float: left;
    max-width: 300px;
    padding: 15px;
    border-radius: 25px;

}

@media (max-width: 768px) {
    .departments .tab-pane img {
        float: none;
        padding: 0 0 15px 0;
        max-width: 100%;
        border-radius: 20px;
    }
}

.departments .tab-pane h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--Main-color);
}

.departments .tab-pane p {
    color: var(--text-color-1);
}

.departments .tab-pane p:last-child {
    margin-bottom: 0;
    padding-top: 10px;
}

@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
    overflow: hidden;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: -40px 0 0 40px;
    position: relative;
    z-index: 2;
    border: 6px solid #fff;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 45px;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #b2e4e6;
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: #f0fafa;
    position: relative;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #3fbbc0;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #3fbbc0;
}


/*--------------------------------------------------------------
# Guide
--------------------------------------------------------------*/
.slide-container{
    max-width: 1120px;
    width: 100%;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: var(--bg-color-1);
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 5px;
    top: 5px;
    height: 100%;
    width: 97%;
    background-color: var(--Main-color);
    border-radius: 20px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--Main-color);
  }
  .overlay::after{
    border-radius: 0 0px 0 0;
    background-color: var(--bg-color-1);
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: var(--bg-color-2);
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--bg-color-1);
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color:  var(--text-color-1);
    margin-top: 20px;
  }
  .description{
    font-size: 14px;
    color: var(--text-color-1);
    text-align: center;
  }
  .buttonss{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: var(--Main-color);
    border-radius: 20px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "BPG Rioni Vera", sans-serif;
    margin-top: 0;
  }
  .buttonss:hover{
    background: var(--hover);
  }
  
  .swiper-navBtn{
    color: var(--Main-color);
    width: 30px;
    height: 30px;
    background-color: var(--bg-color-1);
    transition: color 0.3s ease;
    border-radius: 50%;
  }
  .swiper-navBtn:hover{
    color: #fff;
    background-color: var(--Main-color);
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 15px;
  }
  .swiper-button-np{
    right: 0;
  }
  .swiper-button-pp{
    left: 0;
  }
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }

/*--------------------------------------------------------------
# Autocars
--------------------------------------------------------------*/
.slide-containers{
    max-width: 1120px;
    width: 100%;
  }
  .slide-contents{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .cards{
    border-radius: 25px;
    background-color: var(--bg-color-1);
  }
  .image-contents,
  .card-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-contents{
    position: relative;
    row-gap: 5px;
    padding: 25px 0px;
    padding-bottom: 0 !important;
  }
  .overlays{
    position: absolute;
    left: 5px;
    top: 5px;
    height: 100%;
    width: 97%;
    background-color: var(--bg-color-1);
    border-radius: 20px;
  }
  .overlays::before,
  .overlays::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--bg-color-1)
  }
  .overlays::after{
    border-radius: 0 0px 0 0;
    background-color: var(--bg-color-1);
  }
  .card-images{
    position: relative;
    width: 95%;
    border-radius: 20px;
    background: var(--bg-color-2);
    padding: 3px;
    margin-top: -15px;
  }
  .card-images .card-imgs{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid var(--bg-color-1);
  }
  .names{
    font-size: 18px;
    font-weight: 600;
    color:  var(--text-color-1);
    margin-top: 10px;
  }
  .descriptions{
    font-size: 14px;
    color: var(--text-color-1);
    display: inline-flex;
  }

  .descriptions p
  {
    width: auto;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    margin: 0 .4rem;
    background-color: var(--bg-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 15px;
  }


    
  .swiper-navBtns{
    color: var(--Main-color);
    width: 30px;
    height: 30px;
    background-color: var(--bg-color-1);
    transition: color 0.3s ease;
    border-radius: 50%;
  }
  .swiper-navBtns:hover{
    color: #fff;
    background-color: var(--Main-color);
  }
  .swiper-navBtns::before,
  .swiper-navBtns::after{
    font-size: 15px;
  }

  .swiper-b-n{
    right: 0;
  }
  .swiper-b-p {
    left: 0;
  }
  @media screen and (max-width: 768px) {
    .slide-contents{
      margin: 0 10px;
    }
    .swiper-navBtns{
      display: none;
    }
  }

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/

.gallery {
    overflow: hidden;
}

.gallery .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #3fbbc0;
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #3fbbc0;
}

.gallery .swiper-slide-active {
    text-align: center;
}

@media (min-width: 992px) {
    .gallery .swiper-wrapper {
        padding: 40px 0;
    }
    .gallery .swiper-slide-active {
        border: 6px solid #3fbbc0;
        padding: 4px;
        background: #fff;
        z-index: 1;
        transform: scale(1.2);
        margin-top: 10px;
    }
}


/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/

.pricing .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.pricing h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
    background: #f8f8f8;
}

.pricing h4 {
    font-size: 36px;
    color: #3fbbc0;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.pricing h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

.pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.pricing ul li {
    padding-bottom: 16px;
}

.pricing ul i {
    color: #3fbbc0;
    font-size: 18px;
    padding-right: 4px;
}

.pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.pricing .btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
}

.pricing .btn-buy {
    background: #3fbbc0;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 20px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.guide-btn
{
    background: var(--Main-color);
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 20px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    margin-top: 30px;
    cursor: pointer;
}


.guide-btn:hover
{
    color: #fff;
    background-color: var(--hover);
}

.pricing .btn-buy:hover {
    background: #65c9cd;
}

.pricing .featured h3 {
    color: #fff;
    background: #3fbbc0;
}

.pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #3fbbc0;
    color: #fff;
}


/*--------------------------------------------------------------
# Frequently Asked Questioins
--------------------------------------------------------------*/

.faq {
    padding: 60px 0;
}

.faq .faq-list {
    padding: 0;
    list-style: none;
}

.faq .faq-list li {
    border-bottom: 1px solid #d9f1f2;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.faq .faq-list .question {
    display: block;
    position: relative;
    font-family: #3fbbc0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 25px;
    cursor: pointer;
    color: #32969a;
    transition: 0.3s;
}

.faq .faq-list i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: -2px;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 25px;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list .collapsed {
    color: black;
}

.faq .faq-list .collapsed:hover {
    color: #3fbbc0;
}

.faq .faq-list .collapsed .icon-show {
    display: inline-block;
    transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
    display: none;
    transition: 0.6s;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info-box {
    color: var(--text-color-1);
    text-align: center;
    box-shadow: 0 0 20px var(--box-shadow);
    padding: 20px 0 30px 0;
    background-color: var(--bg-color-1);
    border-radius: 20px;
}

.contact .info-box i {
    font-size: 32px;
    color: var(--text-color-1);
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted var(--bg-color-1);
}

.contact .info-box h3 {
    font-size: 20px;
    color: var(--text-color-1);
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: var(--text-color-1);
}

.contact .php-email-form {
    box-shadow: 0 0 20px var(--box-shadow);
    padding: 30px;
    background-color: var(--bg-color-1);
    border-radius: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 20px;
    box-shadow: none;
    font-size: 14px;
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
}

.contact .php-email-form input::placeholder
{
    color: var(--text-color-1);
}

.contact .php-email-form textarea::placeholder
{
    color: var(--text-color-1);
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: var(--Main-color);
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
    background: var(--Main-color);
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 20px;
    margin-top: 20px;
}

.contact .php-email-form button[type=submit]:hover {
    background: var(--hover);
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: var(--bg-color-1);
    padding: 0 0 30px 0;
    color: var(--text-color-1);
    font-size: 14px;
}

#footer .footer-top {
    background: var(--bg-color-1);
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: var(--Main-color);
    color: var(--text-color-1);
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: var(--hover);
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: var(--Main-color);
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: var(--text-color-1);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: var(--hover);
}

#footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: var(--bg-color-1);
    padding: 6px 10px;
    position: relative;
    border: 1px solid var(--Main-color);
    border-radius: 15px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
    border-radius: 10px;
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
}


#footer .footer-top .footer-newsletter form input[type=email]::placeholder {
    color: var(--text-color-1);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: var(--Main-color);
    color: #fff;
    transition: 0.3s;
    border-radius: 0 15px 15px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: var(--hover);
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
}

.ma-struc
{
    margin:0;
	color:var(--text-color-1);
	background:var(--bg-color-2);
    font-family: "BPG Glaho", sans-serif;
    background-image: url(../Image/Background/login.jpg);
}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
    margin-top: 7vh;
	min-height:670px;
	position:relative;
	background-color: var(--bg-color-1);
    object-fit: cover;
	box-shadow:0 12px 15px 0 rgba(0,0,0, 0.096),0 17px 50px 0 rgba(0,0,0, 0.096);
    border-radius: 15px;
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:30px 70px 50px 70px;
	background: var(--bg-color-1);
    box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.096),0 17px 50px 0 rgba(0,0,0, 0.096);
    border-radius: 15px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
    cursor: pointer;
}
.button{
    margin-top: 35px;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
    cursor: pointer;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color: var(--Main-color);
	border-color: var(--Main-color);
    cursor: pointer;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
    margin-top: 30px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color: var(--text-color-1);
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:10px 25px;
    margin-top: 5px;
	border-radius:25px;
	background: var(--bg-color-2);
}
.login-form .group input[data-type="password"]{
	-webkit-text-security:circle;
}
.login-form .group .label{
	color: var(--text-color-1);
	font-size:14px;
}
.login-form .group .button{
	background: var(--Main-color);
    color: #fff;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:var(--Main-color);
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color: var(--text-color-1);
}
.login-form .group .check:checked + label .icon{
	background: var(--Main-color);
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
    cursor: pointer;
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
    cursor: pointer;
}

.hr{
	height:2px;
	margin: 5px 0 20px 0;
}
.foot-lnk{
	text-align:center;
    cursor:  pointer !important; 
}

.e
{
    cursor: pointer;
}

.ss
{
    margin-bottom: 5px;
}

.m-m
{
    margin-bottom: 50px !important;
    color: var(--text-color-1);
}